.container{
	text-align: center;
}
#myCanvas{
	background-color: burlywood;
	border-radius: 20px;
}
#myCanvas{
	/* cursor: url(./img/whiie.png),auto; */
	/* cursor: url(https://cdn.jsdelivr.net/gh/TRHX/CDN-for-itrhx.com@2.1.6/images/mouse.cur),auto; */
}
.btn{
	position: relative;
	
	top:-40px;
}
