.navbar{
	z-index: 1;
}
.imgInfo{
	margin: 0 auto;
	position: relative;
	width: 100px;
	text-align: center;
	left: 200px;
	top:-50px;
	z-index: 2;
}
.imgInfo .header-img{
	margin: 0 auto;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 99;
}
.imgInfo:hover .header-img{
	position: absolute;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transition:  0.2s ;
	top:20px;
	right:30px;
}
.detail-info{

	width: 200px;
	border: #EEEEEE 2px solid;
	/* visibility: hidden; */
	display: none;
	position: absolute;
	top:50px;
	left:-50px;
	border-radius: 10px;
	background-color: lightblue;
}
.imgInfo:hover .detail-info{
	/* visibility: visible; */
	display: block;
	/* position: relative; 不要加，加了无法脱离文档 */
}
.detail-info-name{
	margin-top: 20px;
	
}
.detail-info-name-info{
	visibility: hidden;
	position: absolute;
	width: 210px;
	height: 100px;
	position: absolute;
	top: -35px;
	right:-230px;
	border: 1px solid #EEEEEE;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	z-index: 99;
	padding: 15px;
}
.detail-info-name:hover .detail-info-name-info{
	visibility: visible;
	opacity: 1;
}
.detail-info-box-item:hover{
	color: #00A1D6;
}
.detail-info-box{
	border-top: #eeeeee 1px solid;
	margin-bottom: 10px;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.detail-info-function{
	border-top: #eeeeee 1px solid;
	text-align: left;
}
.detail-info-ul{
	padding: 0px;
	
	/* border-bottom: 1px solid #EEEEEE; */
}

.imgInfo ul li{
	height: 42px;
	/* text-indent: 54px; 首行缩进 */
	line-height: 42px;

	list-style-type: none;
}
.imgInfo ul li a{
	/* display: block; */
	text-decoration: none;
	color: #212121;
	font-size: 14px;
	font-family: "微软雅黑";
}
.imgInfo ul li:hover{
	background-color: #F4F4F4;
}
#menu{
	position: relative;
}
#menu2{
	position: absolute;
	left: 160px;
	top: -40px;
	visibility: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	line-height: 39px;
	width: 240px;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	padding: 8px 0px;
}
#menu:hover #menu2{
	visibility: visible;
}
#menu3{
	position: absolute;
	left: 200px;
	top: -40px;
	visibility: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-color: #FFFFFF;
	line-height: 39px;
	width: 240px;
	box-shadow: 2px 2px 4px #EEEEEE;
	border-radius: 4px;
	padding: 8px 0px;
}
/* #menu3>li{
	color: #00A1D6;
} */
.act{
	color: #00A1D6;
	}
#menu:hover #menu2>li:hover #menu3{
	visibility: visible;
}